{
    "database": {
        "username": "",
        "password": "",
        "host": "192.17.80.98",
        "database": ""
    },
    "qrf_socket_url": "wss://free.blr2.piesocket.com/v3/qrfchannel?api_key=YOUR_PIESOCKET_API_KEY&notify_self=1"
}
